<div id="extra_links_wrapper" class="module">
    <table>
        <caption>
            <a class="section" title="Custom Pages">Custom Pages</a>
        </caption>
        <tr>
            <th scope="row">
                <a href="{% url 'admin:custom_page' %}">
                    Test Search Page
                </a>
            </th>
            <td></td>

        </tr>
        <tr>
            <th>
                <a href="http://44.202.64.68:8000/swagger/">
                    Swagger API Documentation
                </a>
            </th>
            <td></td>
        </tr>
    </table>
</div>

{% include 'admin/app_list.html' %}